footer#footer
    div#social
        a.symbol(href='https://github.com/xiaoyang678')
            i.fa.fa-github
    p.small © Copyright 2019 &nbsp;
        by &nbsp;xiaoyang
    p.small Powered by &nbsp;
        a(href='https://hexo.io/') Hexo &nbsp;
        | Theme By &nbsp;
        a(href='https://github.com/fuzhouxxdong/hexo-theme-dxx') Dxx

